doctype html(lang='ru')
head
    meta(charset='utf-8')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |
    meta(name='theme-color', content='#000000')
    |
    link(rel='shortcut icon', href='/favicon.png')
    |
    link(rel='shortcut icon', href='/favicon.svg')
    |
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    |
    title Heapy
|
body
    noscript
        | You need to enable JavaScript to run this app.
    |
    #root
    script.
        var user = !{JSON.stringify(user)};
        var env = '#{env}';

    script(src='/js/bundle.js')

    script.
        Heapy.runApp();
